.done-group {
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 624px;
}

.done-category {
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.done-items {
  text-transform: uppercase;
}

.item-button {
  width: 150px;
  height: 80px !important;
  font-size: 16px;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .item-button {
    width: 80px;
    font-size: 11px !important;
  }
}



.action-button {
  color: aliceblue;
}

.how-to-play-list {
  padding-left: 5px;
  padding-bottom: 0.8rem;
}

.how-to-play-list ul {
  list-style-position: outside;
  list-style-type: square;
  margin-left: 5px;
  padding: 5px;
}